body {
    padding: 0;
    margin: 0;
    background-color: #000;
    color: #fff;

    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

#buildmsg{
    font-family: arial, sans-serif;
    font-size: 16px;
    line-height: 3rem;
    vertical-align: middle;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#lklogo{
    margin: 16px 0;
}

#githublink img{
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

#unity-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 75vw;
}

#unity-canvas {
    background: #141414;
    width: 100%;
}

#unity-loading-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none
}

#unity-logo {
    width: 154px;
    height: 130px;
    background: url('unity-logo-{{{ SPLASH_SCREEN_STYLE.toLowerCase() }}}.png') no-repeat center
}

#unity-progress-bar-empty {
    width: 141px;
    height: 18px;
    margin-top: 10px;
    margin-left: 6.5px;
    background: url('progress-bar-empty-{{{ SPLASH_SCREEN_STYLE.toLowerCase() }}}.png') no-repeat center
}

#unity-progress-bar-full {
    width: 0%;
    height: 18px;
    margin-top: 10px;
    background: url('progress-bar-full-{{{ SPLASH_SCREEN_STYLE.toLowerCase() }}}.png') no-repeat center
}

#unity-footer {
    position: relative
}

#unity-fullscreen-button {
    width: 38px;
    height: 38px;
    vertical-align: middle;
    border-radius: 100%;
    background: url('fullscreen-button.png') no-repeat center
}

#unity-warning {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none
}
